@model IEnumerable<coursework.Models.EmpDayOff>

@{
    ViewBag.Title = "View";
}
@Html.Partial("_SideNavPartial")
<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <h2>Days off</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discriminator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(m => item.EmployeeId)
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discriminator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.ActionLink("Details", "Approve", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteDayOff", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>