@model IEnumerable<coursework.Models.Employee>

@{
    ViewBag.Title = "View";
}
@Html.Partial("_SideNavPartial")
<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <h2>Employees List</h2>

    <p>
        @Html.ActionLink("Create New", "AddEmployee")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousesPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiringDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HousesPerWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEmployee", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.UserId })|
                    @Html.ActionLink("Assign course", "CoursesList", new { id = item.UserId })
                </td>
            </tr>
        }

    </table>
</div>