@model IEnumerable<coursework.Models.DaysOff>
@Html.Partial("_SideNavPartial")
<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <p>
        @Html.ActionLink("Back", "DaysLeft", new { id = Model.FirstOrDefault()?.EmployeeId })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discriminator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discriminator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
            </tr>
        }

    </table>
</div>